@model wm.Service.Model.SummarizeMainKitchenOrderViewModel
@{
    Layout = "";
}

<h2>Report</h2>

<div class="row">
    <table id="exampleTable01" class="table table-striped">
        <thead>
        <tr>
                <th style="width: 100px;"></th>
                    @foreach (var item in ViewBag.branches)
                    {
                        <th style="width: 30px; font-size: 15px;"><b>@item.Name</b></th>
                    }
                    <th style="width: 40px; font-size: 15px;"><b>Total</b></th>
            </tr>
        </thead>
        @foreach (var row in Model.Rows)
        {
            <tr style="height: 70px;">
                <td style="font-size: 30px;"><b>@row.Name</b></td>
                @foreach (var item in row.SummaryData)
                {
                    <td style="font-size: 30px;"><pre> </pre><b>@item</b><pre> </pre><div style="width: 2px; height: 2px; border-color: red; border-style: solid; border-width: 1px;"></div></td>
                }
                <td style="font-size: 30px; text-align: right;"><pre> </pre><b> @row.Total</b><pre> </pre></td>
            </tr>
        }
    </table>
</div>

<style media="screen" type="text/css">

</style>