@model IEnumerable<wm.Model.GoodCategory>

@{
    ViewBag.Title = "ManagerDetailsOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

    </script>
}
