@model wm.Web2.Models.EditOrder_GoodCategoryViewModel
<div class="col-md-4">
    <div class="list-group">
        @foreach (var item in Model.GoodCategories)
        {
            string tempUrl = Url.Action(Model.EditAction, "Orders", new {id = ViewBag.OrderId, GoodCategoryId = item.Id});
            string tempId = "GoodCategoryItem" + item.Id.ToString();
            <button onclick="clickGoodCategoryItem('@tempUrl')" class="list-group-item GoodCategoryItem" id='@tempId'>@item.Name</button>
        }
    </div>
</div>
