<div class="col-md-8"style="padding-left: 0;">

    <div class="form-group col-md-12" style="padding-left: 0; padding-right: 0">
        <div id="hsIncludeExclude" class=""></div>
    </div>
    <div class="form-group col-md-12" style="padding-left: 0; padding-right: 0">
        <button name="save" id="save" class="btn btn-danger col-md-4" onclick="saveIncludeExclude('@Url.Action("Place")')">@hhs.GetTranslatedName("Save")</button>
        <div id="error-message" class="form-group col-md-12 text-warning"></div>
        <div id="success-message" class="form-group col-md-12 text-info"></div>
    </div>
</div>
