@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/wwwroot/lib/datatables/media/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" media="screen" href="~/wwwroot/lib/datatables/media/css/jquery.dataTables.min.css">

<div class="container">
    <h2>Quản lý định lượng</h2>
    <div class="row" style="margin-bottom: 20px;">
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Thêm</a>
    </div>
    <div class="row">
        <table id="exampleTable01" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                    <th>Nguyên vật liệu</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    var dataSet = [["Sườn đặc biệt ", "miếng", ""],["Sườn đặc biệt ", "miếng", ""]]
    ;

        $(document).ready(function () {
            $('#exampleTable01').DataTable({
                data: dataSet,

                "columnDefs": [{
                    "targets": 2,
                    "data": null,
                    "defaultContent": '<div class="row"> <div class="row" style="margin-bottom: 2px;"> <text class="col-md-3">thịt nạc</text> <text class="col-md-3">kg</text> <text class="col-md-3">0,05</text> <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove"></i></button> </div> <div class="row" style="margin-bottom: 2px;"> <text class="col-md-3">mỡ</text> <text class="col-md-3">kg</text> <text class="col-md-3">0,12</text> <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove"></i></button> </div> <div class="row"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Thêm</button></div> </div>'
                }]
            });
        });

</script>
