@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/wwwroot/lib/datatables/media/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" media="screen" href="~/wwwroot/lib/datatables/media/css/jquery.dataTables.min.css">
<div class="container">
    <h2>Quản lý nhân viên</h2>
    <div class="row" style="margin-bottom: 20px;">
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Thêm</a>
    </div>
    <div class="row">
        <table id="exampleTable01" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Chức vụ</th>
                    <th>chi nhánh</th>
                    <th>chi nhánh</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên</th>
                    <th>Chức vụ</th>
                    <th>chi nhánh</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        </div>
    </div>
    <script>
        var dataSet = [["Airi Satou", "Nhân viên chi nhánh", "32NT"], ["Angelica Ramos", "Nhân viên chi nhánh", "449VVT"], ["Ashton Cox", "Nhân viên kho tổng", "449VVT"], ["Bradley Greer", "Trưởng chi nhánh", "32NT"], ["Brenden Wagner", "Ban quản lý", "449VVT"], ["Brielle Williamson", "admin", "449VVT"], ["Airi Satou", "Nhân viên chi nhánh", "32NT"], ["Angelica Ramos", "Nhân viên chi nhánh", "449VVT"], ["Ashton Cox", "Nhân viên kho tổng", "449VVT"], ["Bradley Greer", "Trưởng chi nhánh", "32NT"], ["Brenden Wagner", "Ban quản lý", "449VVT"], ["Brielle Williamson", "admin", "449VVT"], ["Airi Satou", "Nhân viên chi nhánh", "32NT"], ["Angelica Ramos", "Nhân viên chi nhánh", "449VVT"], ["Ashton Cox", "Nhân viên kho tổng", "449VVT"], ["Bradley Greer", "Trưởng chi nhánh", "32NT"], ["Brenden Wagner", "Ban quản lý", "449VVT"], ["Brielle Williamson", "admin", "449VVT"], ["Airi Satou", "Nhân viên chi nhánh", "32NT"]]
        ;

        $(document).ready(function () {
            $('#exampleTable01').DataTable({
                data: dataSet,
                columns: [
                    { title: "Tên" },
                    { title: "Chức vụ" },
                    { title: "chi nhánh" },
                    { title: "toolbox" }
                ],
                "columnDefs": [{
                    "targets": 3,
                    "data": null,
                    "defaultContent": '<a href="#" class="btn btn-info">Chi tiết</a> <a href="#" class="btn btn-warning">Sửa</a> <a href="#" class="btn btn-danger">Xóa</a>'
                }]
            });
        });
    </script>
