@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/wwwroot/lib/datatables/media/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" media="screen" href="~/wwwroot/lib/datatables/media/css/jquery.dataTables.min.css">

<div class="container">
    <h2>Loại chi nhánh</h2>
    <div class="row">
        <table id="exampleTable02" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <h2>Quản lý chi nhánh</h2>
    <div class="row" style="margin-bottom: 20px;">
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Thêm</a>
    </div>
    <div class="row">
        <table id="exampleTable01" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                    <th>Thứ tự</th>
                    <th>Loại chi nhánh</th>
                    <th>toolbox</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                    <th>Thứ tự</th>
                    <th>Loại chi nhánh</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    var dataSet = [["32NT", "", "0", "Chi nhánh Full"], ["449VVT", "", "1", "Chi nhánh Full", ], ["HBT", "", "2", "Chi nhánh Full", ], ["NVT", "", "3", "Chi nhánh Full", ], ["Parkson LDH", "", "4", "Chi nhánh ko bar", ], ["Kho tổng", "", "5", "kho tổng", ], ["Bếp tổng", "", "6", "bếp tổng"]]
    ;

        $(document).ready(function () {
            $('#exampleTable01').DataTable({
                data: dataSet,
                
                "columnDefs": [{
                    "targets": 4,
                    "data": null,
                    "defaultContent": '<a href="#" class="btn btn-info">Chi tiết</a> <a href="#" class="btn btn-warning">Sửa</a> <a href="#" class="btn btn-danger">Xóa</a>'
                }]
            });
        });

        var dataSet2 = [["chi nhánh full", ""], ["Chi nhánh ko bar", ""], ["Kho tổng", ""], ["Bếp tổng", ""]]
        ;

        $(document).ready(function () {
            $('#exampleTable02').DataTable({
                data: dataSet2
            });
        });
</script>
