
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<button name="load" id="load" class="intext-btn" onclick="loadOrder()">Load</button>
<button name="save" id="save" class="intext-btn" onclick="saveOrder()">Save</button>
<div id="example"></div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //================================================================================
        //helper
        function ajaxPOSTRequest(href, dataObject, onSuccessCallback) {
            $.ajax({
                url: href,
                data: dataObject,
                cache: false,
                type: "POST",
                dataType: "html",
                success: onSuccessCallback
            });
        }
        //================================================================================
        var $$ = function (id) {
            return document.getElementById(id);
        },
    container = $$('example'),
    exampleConsole = $$('example1console'),
    autosave = $$('autosave'),
    load = $$('load'),
    save = $$('save'),
    autosaveNotification,
    hot;

        hot = new Handsontable(container, {
            startRows: 8,
            startCols: 6,
            rowHeaders: true,
            colHeaders: false,
            dataSchema: { Id: null, Name: null, RecommendedQuantity: null, Quantity: null },
            columns: [
              { data: 'Id' },
              { data: 'Name' },
              { data: 'RecommendedQuantity' },
              { data: 'Quantity' }
            ],
            afterChange: function (change, source) {
                if (source === 'loadData') {
                    return; //don't save this change
                }
                //if (!autosave.checked) {
                //    return;
                //}
                clearTimeout(autosaveNotification);
                console.log("change: " + JSON.stringify(hot.getSourceDataAtRow(change[0][0])));
                
                @*$.ajax({
                    url: '@Url.Action("PlacingOrder")',
                    data: JSON.stringify({ data: change }),
                    cache: false,
                    type: "POST",
                    dataType: "html",
                    success: function (data, textStatus, XMLHttpRequest) {
                        console.log(data);
                    }
                });*@


            }
        });


        function loadOrder() {
            ajaxPOSTRequest('@Url.Action("GetOrderByDay")', {},
                function (data, textStatus, XMLHttpRequest) {
                    console.log("client received: " + data);

                    var dataObject = JSON.parse(data);
                    hot.loadData(dataObject);
                    
                });
        }

        function saveOrder() {
            console.log("sending data to server: " + JSON.stringify({ data: hot.getSourceData() }));
            ajaxPOSTRequest('@Url.Action("PlacingOrder")',
                { data: hot.getSourceData() },
                function (data, textStatus, XMLHttpRequest) {
                    var dataObject = JSON.parse(data);

                    //hot.loadData(dataObject);
                    console.log("server receive data: " + data);

                    //// save all cell's data
                    //ajax('scripts/json/save.json', 'GET', JSON.stringify({ data: hot.getData() }), function (res) {
                    //    var response = JSON.parse(res.response);

                    //    if (response.result === 'ok') {
                    //        exampleConsole.innerText = 'Data saved';
                    //    }
                    //    else {
                    //        exampleConsole.innerText = 'Save error';
                    //    }
                    //});
                });
        }



        //Handsontable.Dom.addEvent(autosave, 'click', function () {
        //    if (autosave.checked) {
        //        exampleConsole.innerText = 'Changes will be autosaved';
        //    }
        //    else {
        //        exampleConsole.innerText = 'Changes will not be autosaved';
        //    }
        //});

    </script>
}