
@{
    ViewBag.Title = "StaffIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StaffIndex</h2>
<div id="calendar"></div>
@section Scripts {

    <script>
        $(document).ready(function () {
            var calendar = $("#calendar").calendar(
                {
                    tmpl_path: "http://localhost:61175/Content/ExceptionLib/bootstrap-calendar/tmpls/",
                    //events_source: function () { return []; },
                    day: '2016-02-06',//yyyy-MM-dd
                    view: 'month',
                    events_source: [
                        {
                            "id": 293,
                            "title": "Event 1",
                            "url": "http://example.com",
                            "class": "event-important",
                            "start": 12039485678000, // Milliseconds
                            "end": 1234576967000 // Milliseconds
                        },
                    ]



                });

        });

    </script>
}
