
@{
    ViewBag.Title = "OrderChiNhanh";
}

<h2>OrderChiNhanh</h2>

<ul class="nav nav-pills">
    <li class="active"><a href="#">món chính</a></li>
    <li><a href="#">hàng canh</a></li>
    <li><a href="#">chợ nhân viên</a></li>
    <li><a href="#">kho</a></li>
</ul>

<h4><span class="label label-primary">món sườn</span></h4>
<table class="table table-striped table-bordered table-hover col-md-12">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>DVT</th>
            <th>SL tồn</th>
            <th>SL yêu cầu</th>
            <th>tổng cộng</th>
            <th>gợi ý hệ thống</th>
            <th>SL duyệt</th>
            <th>ghi chú</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<h4><span class="label label-primary">món canh</span></h4>
<table class="table table-striped table-bordered table-hover col-md-12">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>DVT</th>
            <th>SL tồn</th>
            <th>SL yêu cầu</th>
            <th>tổng cộng</th>
            <th>gợi ý hệ thống</th>
            <th>SL duyệt</th>
            <th>ghi chú</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>sườn xương</td>
            <td>miếng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-pills">
    <li class="active"><a href="#">món chính</a></li>
    <li><a href="#">hàng canh</a></li>
    <li><a href="#">chợ nhân viên</a></li>
    <li><a href="#">kho</a></li>
</ul>


<script src="~/wwwroot/lib/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" media="screen" href="~/wwwroot/lib/handsontable/dist/handsontable.full.css">

<div id="example"></div>
<script>

    var data = [
      ["", "Ford", "Volvo", "Toyota", "Honda"],
      ["2014", 10, 11, 12, 13],
      ["2015", 20, 11, 14, 13],
      ["2016", 30, 15, 12, 13]
    ];

    var container = document.getElementById('example');
    var hot = new Handsontable(container, {
        data: data,
        minSpareRows: 1,
        rowHeaders: true,
        colHeaders: true,
        contextMenu: true
    });

</script>