
@{
    ViewBag.Title = "OrderChiNhanh";
}

<h2>order từ chi nhánh</h2>
<!-------->

<script src="~/wwwroot/lib/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" media="screen" href="~/wwwroot/lib/handsontable/dist/handsontable.full.css">

<link rel="stylesheet" media="screen" href="~/Content/form_wizard_using_tabs.css">

<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </span>
                            </a>
                            <p class="text-center">hàng bếp tổng</p>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </span>
                            </a>
                            <p class="text-center">hàng chợ</p>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </span>
                            </a>
                            <p class="text-center">hàng bar</p>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                            <p class="text-center">xác nhận order</p>
                        </li>
                    </ul>
                </div>

                <form role="form">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h4><span class="label label-primary">món sườn</span></h4>
                            <div id="example"></div>

                            <h4><span class="label label-primary">món canh</span></h4>
                            <div id="example2"></div>


                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h3>Step 2</h3>
                            <p>This is step 2</p>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>Step 3</h3>
                            <p>This is step 3</p>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        //Initialize tooltips
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            var $target = $(e.target);

            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            $active.next().removeClass('disabled');
            nextTab($active);

        });
        $(".prev-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            prevTab($active);

        });
    });
</script>

<script>
    //9 columns
    var data = [
      ["Mã", "Tên", "DVT", "SL tồn", "SL yêu cầu", "tổng cộng", "gợi ý hệ thống", "SL duyệt", "ghi chú"],
      ["MON_CHINH_01", "sườn xương", "miếng", 11, 12, 13, ]
    ];

    var container = document.getElementById('example');
    var container2 = document.getElementById('example2');
    var hot = new Handsontable(container, {
        readOnly: true,
        data: data,
        minSpareRows: 1,
        rowHeaders: true,
        colHeaders: true,
        contextMenu: true,
        columns: [
    { readOnly: false },
    {},
    {},
    { readOnly: false },
    { readOnly: false },
    { readOnly: true },
    { readOnly: true },
    { readOnly: true },
    { readOnly: false }
        ],
    });
    var hot2 = new Handsontable(container2, {
        data: data,
        minSpareRows: 1,
        rowHeaders: true,
        colHeaders: true,
        contextMenu: true
    });

</script>