
@{
    ViewBag.Title = "Index";
}

<h2>Tình trạng order các chi nhánh</h2>

<script src="~/wwwroot/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" media="screen" href="~/wwwroot/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">

<div class="container">
    <div class="row" style="width: 300px; margin-bottom: 5px;">
        <div class="input-group date">
            <input id="myDate01" type="text" class="form-control" /><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
            $('.input-group.date').datepicker({
                todayHighlight: true
            });
        });


    </script>

    <div class="row" style="margin: 2px;">
        <div class="col-md-1">32 NT</div>
        <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> thủ kho </br>đã xác nhận order</button>
        <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> trưởng CN </br>đã xác nhận order</button>
        <button class="col-md-2 btn btn-danger" style="margin: 2px;"><span class="glyphicon glyphicon-remove"></span> kho tổng </br>chưa xác nhận order</button>
    </div>

    <div class="row" style="margin: 2px;">
        <div class="col-md-1">449 VVT</div>
        <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> thủ kho </br>đã xác nhận order</button>
        <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> trưởng CN </br>đã xác nhận order</button>
        <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> kho tổng </br>đã xác nhận order</button>
    </div>

    <div class="row" style="margin: 2px;">
        <div class="col-md-1">HBT</div>
        <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> thủ kho </br>đã xác nhận order</button>
        <button class="col-md-2 btn btn-warning" style="margin: 2px;"><span class="glyphicon glyphicon-warning-sign"></span> trưởng CN </br>chưa xác nhận order</button>
        <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> kho tổng </br>đã xác nhận order</button>
    </div>

    thêm nút để order hàng đột xuất
</div>