
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row" style="margin: 2px;">
    <div class="col-md-1">32 NT</div>
    <button class="col-md-2 btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> thủ kho </br>đã xác nhận order</button>
    <button class="col-md-2 btn btn-success"style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> trưởng CN </br>đã xác nhận order</button>
    <button class="col-md-2 btn btn-danger"style="margin: 2px;"><span class="glyphicon glyphicon-remove"></span> kho tổng </br>chưa xác nhận order</button>
</div>

<div class="row"style="margin: 2px;">
    <div class="col-md-1">449 VVT</div>
    <button class="col-md-2 btn btn-success"style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> thủ kho </br>đã xác nhận order</button>
    <button class="col-md-2 btn btn-success"style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> trưởng CN </br>đã xác nhận order</button>
    <button class="col-md-2 btn btn-success"style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> kho tổng </br>đã xác nhận order</button>
</div>

<div class="row"style="margin: 2px;">
    <div class="col-md-1">HBT</div>
    <button class="col-md-2 btn btn-success"style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> thủ kho </br>đã xác nhận order</button>
    <button class="col-md-2 btn btn-warning"style="margin: 2px;"><span class="glyphicon glyphicon-warning-sign"></span> trưởng CN </br>chưa xác nhận order</button>
    <button class="col-md-2 btn btn-success"style="margin: 2px;"><span class="glyphicon glyphicon-ok"></span> kho tổng </br>đã xác nhận order</button>
</div>

